In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('../data/korean_stock_data.csv')

In [9]:
data.head(5)

,opening_price,highest_price,lowest_price,closing_price,trading_volume,num_of_shares,company,timestamp
0,10400.0,10920.0,10140.0,10880.0,114750.0,5586294,"Dongwha Pharm.Co.,Ltd",2008-01-03
1,10720.0,10960.0,10480.0,10960.0,81165.0,5586294,"Dongwha Pharm.Co.,Ltd",2008-01-04
2,10880.0,11120.0,10320.0,11120.0,66320.0,5586294,"Dongwha Pharm.Co.,Ltd",2008-01-07
3,11120.0,11180.0,10940.0,11040.0,42455.0,5586294,"Dongwha Pharm.Co.,Ltd",2008-01-08
4,10920.0,11060.0,10780.0,11060.0,43205.0,5586294,"Dongwha Pharm.Co.,Ltd",2008-01-09